@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
$ffont: 'Montserrat', sans-serif;
$sfont: 'Lato', sans-serif;
$fcolor: #c6b089; 
$scolor: #fff; 
$tcolor: #000; 