body {
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	outline: none;
}
a:hover {
	text-decoration: none;
}
main {
	transition-duration: .5s;
	transition-timing-function: easeOutElastic;
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
}
main.blur {
	filter: blur(10px);
	transform: scale(1.1);
	overflow: hidden;
	transition-duration: .5s;
	transition-timing-function: easeOutElastic;
}
main.blur-1 {
	filter: blur(10px);
	transform: scale(1.1);
	overflow: hidden;
	opacity: .5;
	transition-duration: .5s;
	transition-timing-function: easeOutElastic;
}
*, p, ul, li, a {
	font-family: $sfont;	
}
span.theme {
	letter-spacing: 5px;
	color: $fcolor;
	text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, input, textarea, button {
	font-family: $ffont;
}
svg {
	width: 100%;
}
.thumbnail img {
	max-width: 100%;
	height: auto;
}
.navbar-brand {
	max-width: 190px;
}
footer {
	padding-top:60px;
}
button:empty {
	display: none !important;
}
section {
	position: relative;
}
section {
	padding-top: 80px;
}
section:first-child {
	padding-top: 0px;
}
.responsive {
	img {
		max-width: 100%;
		height: auto;
	}
}
a:hover {
	transition-duration: .5s;
}


#header-1 {
	#menu-button {
		position: fixed;
		top: 20px;
		right: 20px;
		transform: scale(.5);
		z-index: 5;
	}
	#mainmenu {
		width: 100%;
		position: fixed;
		height: 100%;
		background: rgba(0,0,0,.5);
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		opacity: 0;
		transition-duration: .5s;
		transition-timing-function: easeOutElastic;
		.nawigacja-menu {
			ul {
				li {
					text-align: center;
					a {
						color: #fff;
						font-size: 2em;
					}
				}
			}
		}
		&.active {
			z-index: 2;
			opacity: 1;
			transition-duration: .5s;
			transition-timing-function: easeOutElastic;
		}
	}
	#menu-button {
		.button-toggle-navigation {
			background-color: transparent;
			border: 0;
			border-bottom: .25em solid hsl(0,0,98%);
			border-top: .25em solid hsl(0,0,98%);
			font-size: 32px;
			cursor: pointer;
			height: 1.5em;
			margin: .75em .375em;
			outline: 0;
			position: relative;
			transition: border-color 150ms ease-out,
			transform 150ms ease-out;
			width: 2.25em;

			&::after,
			&::before {
				border-bottom: .25em solid hsl(0,0,98%);
				bottom: .375em;
				content: '';
				height: 0;
				left: 0;
				position: absolute;
				right: 0;
				transition: transform 200ms ease-out;
			}

			span {
				color: transparent;
				height: 0;
				width: 0;
				overflow: hidden;
				position: absolute;
			}
		}

		.isActive {
			border-color: transparent;
			transform: rotateZ(90deg);

			&::after,
			&::before {
				transition: transform 200ms ease-out;
			}

			&::after {
				transform: rotateZ(45deg);
			}

			&::before {
				transform: rotateZ(-45deg);
			}
		}
	}
}
#header-2 {
	#menu-button {
		position: fixed;
		top: 20px;
		right: 20px;
		transform: scale(.5);
		z-index: 5;
	}
	#mainmenu {
		width: 20%;
		position: fixed;
		height: 100%;
		left: -20%;
		background: rgba(0,0,0,.5);
		top: 0px;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition-duration: .5s;
		transition-timing-function: easeOutElastic;
		.nawigacja-menu {
			ul {
				li {
					text-align: center;
					a {
						color: #fff;
						font-size: 2em;
					}
				}
			}
		}
		&.active {
			z-index: 2;
			left:0%;
			opacity: 1;
			transition-duration: .5s;
			transition-timing-function: easeOutElastic;
		}
	}
	#menu-button {
		.button-toggle-navigation {
			background-color: transparent;
			border: 0;
			border-bottom: .25em solid hsl(0,0,98%);
			border-top: .25em solid hsl(0,0,98%);
			font-size: 32px;
			cursor: pointer;
			height: 1.5em;
			margin: .75em .375em;
			outline: 0;
			position: relative;
			transition: border-color 150ms ease-out,
			transform 150ms ease-out;
			width: 2.25em;

			&::after,
			&::before {
				border-bottom: .25em solid hsl(0,0,98%);
				bottom: .375em;
				content: '';
				height: 0;
				left: 0;
				position: absolute;
				right: 0;
				transition: transform 200ms ease-out;
			}

			span {
				color: transparent;
				height: 0;
				width: 0;
				overflow: hidden;
				position: absolute;
			}
		}

		.isActive {
			border-color: transparent;
			transform: rotateZ(90deg);

			&::after,
			&::before {
				transition: transform 200ms ease-out;
			}

			&::after {
				transform: rotateZ(45deg);
			}

			&::before {
				transform: rotateZ(-45deg);
			}
		}
	}
}
#header-3 {
	nav {
		position: absolute;
		z-index: 1;
		width: 100%;
	}
	#navbarSupportedContent-7 {
		display: flex;
		justify-content: flex-end;
		font-size: 1.2em;
	}
}
footer#footer-1 {
	background-color: $fcolor;
	color: #fff;
}
footer {
	.footer-copyright {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		img {
			max-width: 100px;
			height: auto;
			margin-left: 10px;
		}
	}
	#scroll-up {
		position: fixed;
		bottom: 40px;
		right: 40px;
		background: rgba(0,0,0,.5);
		padding: 15px;
	}
}
svg {
	path, line, polyline {
		stroke: #fff;
		stroke-width: 2px;
	}

	path {
		fill: transparent;
	}
}
#slider-carousel {
	width: 100%;
	height: 100vh;
	.carousel-inner, .carousel-item {
		height: 100%;
	}
	.carousel-item {
		.carousel-caption {
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			h3 {
				font-size: 35px;
				font-weight: 300;
				text-transform: uppercase;
			}
			h6 {
				font-size: 80px;
				text-transform: uppercase;
				font-weight: 500;
			}
			a {
				margin-top:20px;
				button {
					background-color: $fcolor;
					text-transform: uppercase;
					border: none;
					padding: 10px 20px;
					font-weight: 500;
					color: $scolor;
				}
			}
			a button:empty {
				display: none;
			}
		}
		img {
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}
	}
}
.row.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.service-3 {
	.content {
		max-width: 615px;
	}
}
#paralaxoption {
	color: #fff;
	background-attachment: fixed;
	.thumbnail {
		img {
			max-width: 100%;
			height: auto;
		}
	}
	svg {
		width: 60%;
		margin: auto;
		display: block;
		height: auto;
		margin-bottom: 25px;
	}
}
.cpt-1 {
	.col-xl-3:nth-child(1) .item-portfolio {
		animation-delay: 0s;
	}
	.col-xl-3:nth-child(2) .item-portfolio {
		animation-delay: .25s;
	}
	.col-xl-3:nth-child(3) .item-portfolio {
		animation-delay: .5s;
	}
	.col-xl-3:nth-child(4) .item-portfolio {
		animation-delay: .75s;
	}
}
#cpt {
	padding-top:90px;
	padding-bottom:60px;
	.item-portfolio {
		border: solid 1px #404040;
		padding: 15px;
		background: rgba(0,0,0,.1);
		margin-bottom: 30px;
		border-radius: 10% 10% 0px 0px;
		color: #fff;
		text-align: center;
		transform: scale(1);
		transition-duration: .5s;
		padding-bottom: 20px;
		padding-top: 20px;
		&:hover {
			border: solid 1px rgba(0,0,0,.4);
			transform: scale(1.05);
			transition-duration: .5s;
			background: rgba(0,0,0,.4);
		}
	}
	h5 {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: 600;
		font-size: 16px;
	}
	p {
		text-align: justify;
		font-size: 12px;
		color: #a5a3a3;
		text-align-last: center;
	}
	button {
		background: transparent;
		border: solid 1px #fff;
		color: #fff;
		text-transform: uppercase;
		padding: 10px;
		font-size: 11px;
		transition-duration: .5s;
		&:hover {
			background-color: #fff;
			color: #000;
			transition-duration: .5s;
		}
	} 
}
.gallery {
	a {
		width: 100%;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
	}
}
.gallery-2 {
	figure {
		margin: 0px;
		transition-duration: .5s;
		opacity: 1;
		cursor: zoom-in; 
		a, img {
			cursor: zoom-in;
		}
	}
	figure:hover {
		opacity: .5;
		transition-duration: .5s;
		margin: 0px;
		cursor: zoom-in;
	}
}
footer {
	.footer-contact-box p {
		margin-top: 5px;
		font-size: 14px;
		text-align: justify;
	}
	ul {
		list-style-type: none;
		padding:0px;
		li {
			a {
				color: #fff;
			}
		}
	}
}