#o-nas {
	background-image: url(/wp-content/uploads/2019/01/bg-2.jpg);
	background-size: cover;
	.thumbnail {
		padding-left: 40px;
		padding-right: 40px;
		height: auto;
	}
	h2 {
		font-family: $ffont;
		font-size: 42px;
		span {
			font-family: $ffont;
			color: $fcolor;
			display: block;
			line-height: 60px;
			font-weight: 600;
			letter-spacing: 14px;
		}
	}
	p {
		font-size: 15px;
		text-align: justify;
		line-height: 33px;
	}

}
#paralax {
	padding-top: 0px;
	p {
		text-align: center;
		width: 80%;
		margin: auto;
		margin-bottom: 50px;
		font-weight: 300;
		font-size: 15px;
	}
	h2 {
		width: 100%;
		text-align: center;
		margin-top: 70px;
		text-transform: uppercase;
		font-weight: 600;
		span {
			letter-spacing: 5px;
			color: $fcolor;
		}
	}
	.item {
		h3 {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
		}
		p {
			font-size: 14px;
			padding-bottom: 100px;
		}
	}
}
#cooker {
	background-image: url(/wp-content/uploads/2019/01/bg-2.jpg);
	background-size: cover;
	.thumbnail.responsive {
		margin-top: -200px;
	}
	.container-fluid > .row {
		display: flex;
		align-items: center;
	}
	.col-xl-6:nth-child(1) {
		order: 2;
	}
	.col-xl-6:nth-child(2) {
		order: 1;	
		.content {
			margin-left: auto;
		}
	}
	h2 {
		width: 75%;
		font-size: 36px;
		span {
			display: block;
			font-weight: 600;
			color: $fcolor;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}
	p {
		font-size: 21px;
		line-height: 44px;
		margin-top: 55px;
	}
	p.podpis {
		font-style: italic;
		font-size: 14px;
		margin-top: 0px;
	}

}
.gallery {
	background-image: url(/wp-content/uploads/2019/01/bg-2.jpg);
	h2 {
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		font-weight: 600;
	}
	p {
		width: 80%;
		margin: auto;
		margin-bottom: 40px;
		text-align: center;
	}
}

section#kontakt {
	background-size: cover;
	background-attachment: fixed;
	svg {
		max-width: 40px;
		height: auto;
	}
	.text {
		color: #fff;
		margin-left: 60px;
		margin-bottom: 70px;
		&:hover {
			transition-duration: .5s;
			color: #fff;
		}
	}
	h2 {
		color: #fff;
		margin-bottom: 30px;
	}
	label {
		width: 100%;
	}
	input, textarea {
		width: 100%;
		border:solid 1px #fff;
		background-color: transparent;
		color: #fff;
		padding:5px;
	}
	.phone, .mail {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		a {
			color: #fff;
			font-size: 17px;
			margin-top: 10px;
			margin-left: 60px;
			transition-duration: .5s;
			&:hover {
				transition-duration: .5s;
				color: #fff;
			}
		}
	}

}