/*
Theme Name: Kordit theme
Theme URI: https://motyw.kordit.pl
Author: the Kordit Team
Author URI: https://kordit.pl/
Version: 1.0
*/

@import "normalize";
@import "main";

@media (max-width: 576px) {
	@import "mobile";	
} 

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	//@import "tablet";
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
	//@import "rotatetablet";
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
	//@import "desktop";
} 
