/*
Theme Name: Kordit theme
Theme URI: https://motyw.kordit.pl
Author: the Kordit Team
Author URI: https://kordit.pl/
Version: 1.0
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
.pagination {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  z-index: 10;
  display: flex;
  flex-direction: column; }

.pagination a {
  display: block;
  margin-bottom: 5px;
  color: white;
  position: relative;
  padding: 4px; }
  .pagination a span {
    opacity: 1;
    color: rgba(0, 0, 0, 0.1);
    transition-duration: .5s; }
  .pagination a.active span {
    opacity: 1;
    color: #000;
    transition-duration: .5s; }

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px; }

.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px; }

.pagination a:hover .hover-text {
  opacity: 1;
  margin-left: 15px; }

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

ul#list-spy li a {
  text-transform: uppercase;
  color: #2e332f;
  font-weight: 600; }

ul#list-spy a.active {
  margin-bottom: 60px;
  margin-top: 60px; }
  ul#list-spy a.active:after {
    content: " "; }

.pagination li a span {
  padding-left: 15px; }
  .pagination li a span:after {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li a span:before {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: -50px; }

.pagination li:first-child a span {
  padding-left: 15px; }
  .pagination li:first-child a span:after {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li:first-child a span:before {
    content: " ";
    height: 0px;
    background: #fff;
    display: block;
    position: absolute;
    width: 0px;
    margin-left: 2.5px;
    margin-top: 0px; }

.pagination li:last-child a span {
  padding-left: 15px; }
  .pagination li:last-child a span:after {
    content: " ";
    height: 0px;
    background: transparent;
    display: block;
    position: absolute;
    width: 0px;
    margin-left: 2.5px;
    margin-top: 10px; }
  .pagination li:last-child a span:before {
    content: " ";
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    width: 2px;
    margin-left: 2.5px;
    margin-top: -50px; }

@keyframes fadeleftslider {
  from {
    transform: translateX(-1000px); }
  to {
    transform: translateX(0px); } }
@keyframes showslider {
  from {
    opacity: 0; }
  to {
    opacity: 1 !important; } }
@keyframes opacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes flytext {
  from {
    transform: translateX(-1550px); }
  to {
    transform: translateX(-1050px); } }
@keyframes servicefly {
  from {
    left: 5vw; }
  to {
    left: 35vw; } }
@keyframes flytextblogbot {
  from {
    transform: translateX(-2200px); }
  to {
    transform: translateX(-1750px); } }
@keyframes flytextblogtop {
  from {
    transform: translateX(350px); }
  to {
    transform: translateX(800px); } }
@keyframes running {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(-25px); }
  50% {
    transform: translateY(-50px); }
  75% {
    transform: translateY(-25px); }
  100% {
    transform: translateY(0px); } }
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  outline: none; }

a:hover {
  text-decoration: none; }

main {
  transition-duration: .5s;
  transition-timing-function: easeOutElastic;
  filter: blur(0px);
  transform: scale(1);
  opacity: 1; }

main.blur {
  filter: blur(10px);
  transform: scale(1.1);
  overflow: hidden;
  transition-duration: .5s;
  transition-timing-function: easeOutElastic; }

main.blur-1 {
  filter: blur(10px);
  transform: scale(1.1);
  overflow: hidden;
  opacity: .5;
  transition-duration: .5s;
  transition-timing-function: easeOutElastic; }

*, p, ul, li, a {
  font-family: "Lato", sans-serif; }

span.theme {
  letter-spacing: 5px;
  color: #c6b089;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: "Montserrat", sans-serif; }

svg {
  width: 100%; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

.navbar-brand {
  max-width: 190px; }

footer {
  padding-top: 60px; }

button:empty {
  display: none !important; }

section {
  position: relative; }

section {
  padding-top: 80px; }

section:first-child {
  padding-top: 0px; }

.responsive img {
  max-width: 100%;
  height: auto; }

a:hover {
  transition-duration: .5s; }

#header-1 #menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: scale(0.5);
  z-index: 5; }
#header-1 #mainmenu {
  width: 100%;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition-duration: .5s;
  transition-timing-function: easeOutElastic; }
  #header-1 #mainmenu .nawigacja-menu ul li {
    text-align: center; }
    #header-1 #mainmenu .nawigacja-menu ul li a {
      color: #fff;
      font-size: 2em; }
  #header-1 #mainmenu.active {
    z-index: 2;
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: easeOutElastic; }
#header-1 #menu-button .button-toggle-navigation {
  background-color: transparent;
  border: 0;
  border-bottom: 0.25em solid #fafafa;
  border-top: 0.25em solid #fafafa;
  font-size: 32px;
  cursor: pointer;
  height: 1.5em;
  margin: .75em .375em;
  outline: 0;
  position: relative;
  transition: border-color 150ms ease-out, transform 150ms ease-out;
  width: 2.25em; }
  #header-1 #menu-button .button-toggle-navigation::after, #header-1 #menu-button .button-toggle-navigation::before {
    border-bottom: 0.25em solid #fafafa;
    bottom: .375em;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 200ms ease-out; }
  #header-1 #menu-button .button-toggle-navigation span {
    color: transparent;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute; }
#header-1 #menu-button .isActive {
  border-color: transparent;
  transform: rotateZ(90deg); }
  #header-1 #menu-button .isActive::after, #header-1 #menu-button .isActive::before {
    transition: transform 200ms ease-out; }
  #header-1 #menu-button .isActive::after {
    transform: rotateZ(45deg); }
  #header-1 #menu-button .isActive::before {
    transform: rotateZ(-45deg); }

#header-2 #menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: scale(0.5);
  z-index: 5; }
#header-2 #mainmenu {
  width: 20%;
  position: fixed;
  height: 100%;
  left: -20%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: .5s;
  transition-timing-function: easeOutElastic; }
  #header-2 #mainmenu .nawigacja-menu ul li {
    text-align: center; }
    #header-2 #mainmenu .nawigacja-menu ul li a {
      color: #fff;
      font-size: 2em; }
  #header-2 #mainmenu.active {
    z-index: 2;
    left: 0%;
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: easeOutElastic; }
#header-2 #menu-button .button-toggle-navigation {
  background-color: transparent;
  border: 0;
  border-bottom: 0.25em solid #fafafa;
  border-top: 0.25em solid #fafafa;
  font-size: 32px;
  cursor: pointer;
  height: 1.5em;
  margin: .75em .375em;
  outline: 0;
  position: relative;
  transition: border-color 150ms ease-out, transform 150ms ease-out;
  width: 2.25em; }
  #header-2 #menu-button .button-toggle-navigation::after, #header-2 #menu-button .button-toggle-navigation::before {
    border-bottom: 0.25em solid #fafafa;
    bottom: .375em;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 200ms ease-out; }
  #header-2 #menu-button .button-toggle-navigation span {
    color: transparent;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute; }
#header-2 #menu-button .isActive {
  border-color: transparent;
  transform: rotateZ(90deg); }
  #header-2 #menu-button .isActive::after, #header-2 #menu-button .isActive::before {
    transition: transform 200ms ease-out; }
  #header-2 #menu-button .isActive::after {
    transform: rotateZ(45deg); }
  #header-2 #menu-button .isActive::before {
    transform: rotateZ(-45deg); }

#header-3 nav {
  position: absolute;
  z-index: 1;
  width: 100%; }
#header-3 #navbarSupportedContent-7 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em; }

footer#footer-1 {
  background-color: #c6b089;
  color: #fff; }

footer .footer-copyright {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600; }
  footer .footer-copyright img {
    max-width: 100px;
    height: auto;
    margin-left: 10px; }
footer #scroll-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px; }

svg path, svg line, svg polyline {
  stroke: #fff;
  stroke-width: 2px; }
svg path {
  fill: transparent; }

#slider-carousel {
  width: 100%;
  height: 100vh; }
  #slider-carousel .carousel-inner, #slider-carousel .carousel-item {
    height: 100%; }
  #slider-carousel .carousel-item .carousel-caption {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #slider-carousel .carousel-item .carousel-caption h3 {
      font-size: 35px;
      font-weight: 300;
      text-transform: uppercase; }
    #slider-carousel .carousel-item .carousel-caption h6 {
      font-size: 80px;
      text-transform: uppercase;
      font-weight: 500; }
    #slider-carousel .carousel-item .carousel-caption a {
      margin-top: 20px; }
      #slider-carousel .carousel-item .carousel-caption a button {
        background-color: #c6b089;
        text-transform: uppercase;
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        color: #fff; }
    #slider-carousel .carousel-item .carousel-caption a button:empty {
      display: none; }
  #slider-carousel .carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover; }

.row.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.service-3 .content {
  max-width: 615px; }

#paralaxoption {
  color: #fff;
  background-attachment: fixed; }
  #paralaxoption .thumbnail img {
    max-width: 100%;
    height: auto; }
  #paralaxoption svg {
    width: 60%;
    margin: auto;
    display: block;
    height: auto;
    margin-bottom: 25px; }

.cpt-1 .col-xl-3:nth-child(1) .item-portfolio {
  animation-delay: 0s; }
.cpt-1 .col-xl-3:nth-child(2) .item-portfolio {
  animation-delay: .25s; }
.cpt-1 .col-xl-3:nth-child(3) .item-portfolio {
  animation-delay: .5s; }
.cpt-1 .col-xl-3:nth-child(4) .item-portfolio {
  animation-delay: .75s; }

#cpt {
  padding-top: 90px;
  padding-bottom: 60px; }
  #cpt .item-portfolio {
    border: solid 1px #404040;
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 10% 10% 0px 0px;
    color: #fff;
    text-align: center;
    transform: scale(1);
    transition-duration: .5s;
    padding-bottom: 20px;
    padding-top: 20px; }
    #cpt .item-portfolio:hover {
      border: solid 1px rgba(0, 0, 0, 0.4);
      transform: scale(1.05);
      transition-duration: .5s;
      background: rgba(0, 0, 0, 0.4); }
  #cpt h5 {
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px; }
  #cpt p {
    text-align: justify;
    font-size: 12px;
    color: #a5a3a3;
    text-align-last: center; }
  #cpt button {
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 11px;
    transition-duration: .5s; }
    #cpt button:hover {
      background-color: #fff;
      color: #000;
      transition-duration: .5s; }

.gallery a {
  width: 100%; }
  .gallery a img {
    width: 100%;
    height: 200px;
    object-fit: cover; }

.gallery-2 figure {
  margin: 0px;
  transition-duration: .5s;
  opacity: 1;
  cursor: zoom-in; }
  .gallery-2 figure a, .gallery-2 figure img {
    cursor: zoom-in; }
.gallery-2 figure:hover {
  opacity: .5;
  transition-duration: .5s;
  margin: 0px;
  cursor: zoom-in; }

footer .footer-contact-box p {
  margin-top: 5px;
  font-size: 14px;
  text-align: justify; }
footer ul {
  list-style-type: none;
  padding: 0px; }
  footer ul li a {
    color: #fff; }

@keyframes smartphoto {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes smartphoto-img-wrap {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes smartphoto-inner {
  from {
    transform: translate(0, 100px); }
  to {
    transform: translate(0, 0); } }
@keyframes smartphoto-loader {
  0% {
    opacity: .4;
    transform: rotate(0deg); }
  50% {
    opacity: 1;
    transform: rotate(180deg); }
  100% {
    opacity: .4;
    transform: rotate(360deg); } }
@keyframes smartphoto-appear {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes smartphoto-hide {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
.smartphoto {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  font-family: sans-serif;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  transition: all 0.3s ease-out;
  animation-name: smartphoto;
  animation-duration: .3s;
  animation-timing-function: ease-out; }

.smartphoto[aria-hidden="true"] {
  display: none; }

.smartphoto-close {
  opacity: 0; }

.smartphoto-count {
  display: inline-block;
  color: #FFF;
  font-size: 16px; }

.smartphoto-header {
  display: block;
  box-sizing: border-box;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2); }

.smartphoto-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.smartphoto-dismiss {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i44Os44Kk44Ok44O8XzEiIGRhdGEtbmFtZT0i44Os44Kk44Ok44O8IDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4MzQuNjUgMjgzNC42NSIgZmlsbD0iI0ZGRiI+PHRpdGxlPmljb248L3RpdGxlPjxwYXRoIGQ9Ik0xNTc2LjQyLDE0MDYuNzYsMjc4NCwxOTkuMTlhNTYuODYsNTYuODYsMCwwLDAsMC04MC4xOGwtNzguOTItNzguOTJhNTYuODYsNTYuODYsMCwwLDAtODAuMTgsMEwxNDE3LjMyLDEyNDcuNjYsMjA5Ljc1LDQwLjA5YTU2Ljg2LDU2Ljg2LDAsMCwwLTgwLjE4LDBMNTAuNjUsMTE5YTU2Ljg2LDU2Ljg2LDAsMCwwLDAsODAuMThMMTI1OC4yMywxNDA2Ljc2LDUwLjY1LDI2MTQuMzRhNTYuODYsNTYuODYsMCwwLDAsMCw4MC4xOGw3OC45Miw3OC45MmE1Ni44Niw1Ni44NiwwLDAsMCw4MC4xOCwwTDE0MTcuMzIsMTU2NS44NiwyNjI0LjksMjc3My40NGE1Ni44Niw1Ni44NiwwLDAsMCw4MC4xOCwwbDc4LjkyLTc4LjkyYTU2Ljg2LDU2Ljg2LDAsMCwwLDAtODAuMThaIi8+PC9zdmc+);
  text-shadow: 0 1px 0 #FFF;
  color: #FFF;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1; }

.smartphoto-body {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.smartphoto-inner {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top; }

.smartphoto-img {
  display: none;
  max-width: none;
  width: auto;
  height: auto;
  cursor: zoom-in;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.3s ease-out;
  -webkit-user-drag: none; }

.smartphoto-img.active {
  display: block; }

.smartphoto-img-onmove {
  cursor: grab;
  cursor: -webkit-grab;
  transition: none; }

.smartphoto-img-elasticmove {
  transition: transform 0.3s ease-out; }

.smartphoto-img-wrap {
  display: inline-block;
  opacity: 1;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  animation-name: smartphoto-img-wrap;
  animation-duration: .3s;
  animation-timing-function: ease-out; }

.smartphoto-img-left {
  transform: translateX(150%) !important; }

.smartphoto-img-right {
  transform: translateX(-150%) !important; }

.smartphoto-arrows {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1002;
  top: 50%;
  left: 0;
  opacity: 1;
  animation-name: smartphoto-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out; }

.smartphoto-arrows[aria-hidden="true"] {
  animation-name: smartphoto-hide;
  display: none; }

.smartphoto-arrows li {
  display: block;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-name: smartphoto-appear; }

.smartphoto-arrows li:focus {
  outline: none; }

.smartphoto-arrows [aria-hidden="true"] {
  animation-name: smartphoto-hide;
  display: none; }

.smartphoto-arrows a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; }

.smartphoto-arrow-right {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i44Os44Kk44Ok44O8XzEiIGRhdGEtbmFtZT0i44Os44Kk44Ok44O8IDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4MzQuNjUgMjgzNC42NSIgZmlsbD0iI0ZGRiAiPjx0aXRsZT5pY29uPC90aXRsZT48cGF0aCBkPSJNMTgzNy44OCwxNDE3LjMyLDY0My41OSwyMjNhNzIuMjEsNzIuMjEsMCwwLDEsMC0xMDEuODJMNzQzLjgyLDIxYTcyLjIxLDcyLjIxLDAsMCwxLDEwMS44MiwwTDIwOTAuODMsMTI2Ni4xOWwxMDAuMjMsMTAwLjIzYTcyLjIxLDcyLjIxLDAsMCwxLDAsMTAxLjgyTDg0NS42NCwyODEzLjY1YTcyLjIxLDcyLjIxLDAsMCwxLTEwMS44MiwwTDY0My41OSwyNzEzLjQyYTcyLjIxLDcyLjIxLDAsMCwxLDAtMTAxLjgyWiIvPjwvc3ZnPg==); }

.smartphoto-arrow-left {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i44Os44Kk44Ok44O8XzEiIGRhdGEtbmFtZT0i44Os44Kk44Ok44O8IDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4MzQuNjUgMjgzNC42NSIgZmlsbD0iI0ZGRiI+PHRpdGxlPmljb248L3RpdGxlPjxwYXRoIGQ9Ik05OTYuNzcsMTQxNy4zMiwyMTkxLjA2LDIyM2E3Mi4yMSw3Mi4yMSwwLDAsMCwwLTEwMS44MkwyMDkwLjgzLDIxQTcyLjIxLDcyLjIxLDAsMCwwLDE5ODksMjFMNzQzLjgyLDEyNjYuMTksNjQzLjU5LDEzNjYuNDJhNzIuMjEsNzIuMjEsMCwwLDAsMCwxMDEuODJMMTk4OSwyODEzLjY1YTcyLjIxLDcyLjIxLDAsMCwwLDEwMS44MiwwbDEwMC4yMy0xMDAuMjNhNzIuMjEsNzIuMjEsMCwwLDAsMC0xMDEuODJaIi8+PC9zdmc+); }

.smartphoto-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  animation-name: smartphoto-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out; }

.smartphoto-nav[aria-hidden="true"] {
  animation-name: smartphoto-hide;
  display: none; }

.smartphoto-nav ul {
  display: block;
  overflow-x: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }

.smartphoto-nav li {
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px; }

.smartphoto-nav a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-position: center center;
  background-size: cover;
  opacity: .5; }

.smartphoto-nav a:focus {
  opacity: .8; }

.smartphoto-nav a.current {
  opacity: 1; }

.smartphoto-nav img {
  width: auto;
  height: 100%; }

.smartphoto-list {
  list-style-type: none;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.smartphoto-list li {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out; }

.smartphoto-list li:focus {
  outline: none; }

.smartphoto-list-onmove {
  transition: all 0.3s ease-out; }

.smartphoto-caption {
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis; }

.smartphoto-caption:focus {
  outline: none; }

.smartphoto-loader-wrap {
  display: block;
  position: relative;
  z-index: 103;
  width: 0;
  height: 0;
  transform: translate(50vw, 50vh); }

.smartphoto-loader {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: -25px;
  border: 8px solid #17CDDD;
  border-right-color: transparent;
  border-radius: 50%;
  animation: smartphoto-loader .5s infinite linear; }

.smartphoto-img-clone {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all .3s ease-out; }

.smartphoto-sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0); }

#o-nas {
  background-image: url(/wp-content/uploads/2019/01/bg-2.jpg);
  background-size: cover; }
  #o-nas .thumbnail {
    padding-left: 40px;
    padding-right: 40px;
    height: auto; }
  #o-nas h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 42px; }
    #o-nas h2 span {
      font-family: "Montserrat", sans-serif;
      color: #c6b089;
      display: block;
      line-height: 60px;
      font-weight: 600;
      letter-spacing: 14px; }
  #o-nas p {
    font-size: 15px;
    text-align: justify;
    line-height: 33px; }

#paralax {
  padding-top: 0px; }
  #paralax p {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 15px; }
  #paralax h2 {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    font-weight: 600; }
    #paralax h2 span {
      letter-spacing: 5px;
      color: #c6b089; }
  #paralax .item h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600; }
  #paralax .item p {
    font-size: 14px;
    padding-bottom: 100px; }

#cooker {
  background-image: url(/wp-content/uploads/2019/01/bg-2.jpg);
  background-size: cover; }
  #cooker .thumbnail.responsive {
    margin-top: -200px; }
  #cooker .container-fluid > .row {
    display: flex;
    align-items: center; }
  #cooker .col-xl-6:nth-child(1) {
    order: 2; }
  #cooker .col-xl-6:nth-child(2) {
    order: 1; }
    #cooker .col-xl-6:nth-child(2) .content {
      margin-left: auto; }
  #cooker h2 {
    width: 75%;
    font-size: 36px; }
    #cooker h2 span {
      display: block;
      font-weight: 600;
      color: #c6b089;
      text-transform: uppercase;
      letter-spacing: 5px; }
  #cooker p {
    font-size: 21px;
    line-height: 44px;
    margin-top: 55px; }
  #cooker p.podpis {
    font-style: italic;
    font-size: 14px;
    margin-top: 0px; }

.gallery {
  background-image: url(/wp-content/uploads/2019/01/bg-2.jpg); }
  .gallery h2 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 600; }
  .gallery p {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center; }

section#kontakt {
  background-size: cover;
  background-attachment: fixed; }
  section#kontakt svg {
    max-width: 40px;
    height: auto; }
  section#kontakt .text {
    color: #fff;
    margin-left: 60px;
    margin-bottom: 70px; }
    section#kontakt .text:hover {
      transition-duration: .5s;
      color: #fff; }
  section#kontakt h2 {
    color: #fff;
    margin-bottom: 30px; }
  section#kontakt label {
    width: 100%; }
  section#kontakt input, section#kontakt textarea {
    width: 100%;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    padding: 5px; }
  section#kontakt .phone, section#kontakt .mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    section#kontakt .phone a, section#kontakt .mail a {
      color: #fff;
      font-size: 17px;
      margin-top: 10px;
      margin-left: 60px;
      transition-duration: .5s; }
      section#kontakt .phone a:hover, section#kontakt .mail a:hover {
        transition-duration: .5s;
        color: #fff; }

@media (max-width: 576px) {
  #cooker h2 {
    width: 75%;
    font-size: 29px; } }

/*# sourceMappingURL=style.css.map */
